---
const { title = "Page Not Found" } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="OU, GDA, Game, Games, Development, Dev, University, Oklahoma">
        <meta name="description" content="The Official Website for the Game Developers Association at the University of Oklahoma!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" href="favicon.svg">
        <title>GDA | {title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>